.top-menu > a:hover,
.profile-item:hover > a,
.bottom-menu > a:hover,
.grid a:hover,
.checkbox-label > input:checked ~ i::before,
.tab-menu-item > a:hover {
    color: #85ce36;
}

.main-menu-item.active > a::before,
.search-box > button,
button:hover,
.grid-pager .active {
    background-color: #85ce36;
}

input[type="text"]:focus,
.color-list,
button {
    border-color: #85ce36;
}

.tab-menu-item.active {
    border-top-color: #85ce36;
}